<div class="row">
	<div class="col">
		<h2>{{name}}</h2>
	</div>
</div>
<div class="row">
	<div class="col">
		<a href="{{requestTokenUrl}}"><img src="xero-sdk-ui/images/connect-blue.svg">
		</a>
	</div>
</div>
